@page
@model HortimexB2B.Web.Pages.Basket.CheckoutSuccessModel
@{
}


<div id="success-box" class="alert alert-success">
    <strong>Dziękujemy!</strong> Przyjęliśmy Twoje zamówienie do weryfikacji. Drogą elektroniczną otrzymasz dalsze informacje.
</div>

<style>
    #success-box {
        margin: 80px 0 80px 0;
    }
</style>
