@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="jumbotron">
    <h2>Witamy na platformie Hortimex</h2>
    <p>
        Dzięki platformie otrzymujecie Państwo możliwość zakupu towarów z naszej oferty,
        pobrania dokumentów jakościowych oraz księgowych, sprawdzenia statusu zamówienia oraz dostęp do historii zakupów.
    </p>
</div>
