@page
@model PrivacyModel
@{
    ViewData["Title"] = "Polityka prywatności";
}
<h2>@ViewData["Title"]</h2>

<ol type="I">
    <li>
        Informacje ogólne
        <ol>
            <li>
                Serwis realizuje funkcje pozyskiwania informacji o użytkownikach i ich zachowaniu w następujący sposób:
                <ol type="a">
                    <li>poprzez dobrowolnie wprowadzone w formularzach informacje,</li>
                    <li>poprzez zapisywanie w urządzeniach końcowych plików cookies (tzw. „ciasteczka”),</li>
                    <li>poprzez gromadzenie logów serwera www, funkcjonującego pod adresem <a href="https://b2b.hortimex.pl">https://b2b.hortimex.pl</a> (zwanego dalej b2b.hortimex.pl lub Serwisem).</li>
                </ol>
            </li>
            <li>
                Administratorem danych osobowych jest <strong>HORTIMEX Sp. z o.o.</strong> ul. Poznańska 212, 62-510 Konin.
            </li>
            <li>
                Kontakt z administratorem danych możliwy jest przez adres e-mail: <strong>admin.platforma@hortimex.pl</strong>.
            </li>
        </ol>
    </li>
    <li>
        Udostępnianie danych osobowych
        <ol>
            <li>
                Dane podlegają udostępnieniu podmiotom zewnętrznym wyłącznie w granicach prawnie dozwolonych.
            </li>
            <li>
                Operator może mieć obowiązek udzielania informacji zebranych przez Serwis upoważnionym organom na podstawie zgodnych z prawem żądań w zakresie wynikającym z żądania.
            </li>
        </ol>
    </li>
    <li>
        Zmiana polityki prywatności
        <ol>
            <li>Serwis zastrzega sobie prawo do zmiany polityki prywatności wraz ze zmianą obowiązującego prawa lub w przypadku zmiany warunków technologicznych.</li>
            <li>Aktualną wersję polityki prywatności można znaleźć pod adresem: <a href="https://b2b.hortimex.pl/privacy">https://b2b.hortimex.pl/privacy</a>.</li>
        </ol>
    </li>
    <li>
        Cookies
        <ol>
            <li>Serwis wykorzystuje cookies (tzw. „ciasteczka”), czyli pliki tekstowe, które są przechowywane na urządzeniu końcowym Użytkownika serwisu.</li>
            <li>
                Serwis korzysta z plików cookies o charakterze:
                <ol type="a">
                    <li>stałym – pozostają zapamiętane w urządzeniu po zamknięciu przeglądarki (zakończeniu sesji) do momentu ich ręcznego usunięcia lub przez czas określony w ich parametrach,</li>
                    <li>sesyjnym – są plikami tymczasowymi, które są przechowywane na urządzeniu końcowym Użytkownika do momentu opuszczenia strony, wylogowania się lub wyłączenia przeglądarki internetowej.</li>
                </ol>
            </li>
            <li>
                W szczególności na hortimex.pl można znaleźć pliki cookies z poniższych usług zewnętrznych:
                <ol type="a">
                    <li>
                        Google Analytics (<a href="https://policies.google.com/privacy?hl=pl">https://policies.google.com/privacy?hl=pl</a>).
                    </li>
                </ol>
            </li>
            <li>
                Użytkownik zawsze ma możliwość usunięcia plików cookies i/lub zablokowania ich zapamiętywania. Ustawienia takie oferuje każda przeglądarka internetowa. Jednakże należy pamiętać, że może to wpłynąć na niektóre funkcjonalności dostępne na stronach internetowych Serwisu, a nawet uniemożliwić korzystanie z Serwisu.
            </li>
        </ol>
    </li>
</ol>
